* {
  box-sizing: border-box;
  margin: 0%;
  padding: o;
}

body {
  border: 10px solid blue;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  background-color: blue;
  color: white;
}
main {
  display: flex;
  flex: auto;
}
footer {
    margin-top: ;
  display: flex;

  border: 5px solid blue;
}
footer input {
  flex: auto;
  padding: 5px;
}
